<!DOCTYPE html>
<html>
<head>
    <title>Доступные рисунки</title>
</head>
<body>
    <h2>Доступные рисунки</h2>
    <ul>
        {% for image in images %}
            <li>
                <img src="data:image/jpeg;base64,{{ image.image_data }}">
                {{ image.description }}
                <a href="{% url 'delete-image' image.id %}" onclick="return confirm('Удалить?')">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'upload-image' %}">Загрузить фотографию</a>
</body>
</html>